html,
body {
  background: white url('../assets/Rectangle.png') no-repeat center top;
  background-attachment: contain;
  margin: 0;
}
input::placeholder{
  font-size: 10px;
}

input {
  min-width: 150px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-width: 335px;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}
